<?xml version="1.0"?>

<launch>
  <!-- ************************ -->
  <!-- ****** Parameters ****** -->
  <!-- ************************ -->
  <!-- simulation config -->
  <arg name="world_name"            default="room_world_3"/> <!-- room_world_1, room_world_2 or room_world_3 -->
  <arg name="debug"                 default="false"/>
  <arg name="gui"                   default="true"/>
  <arg name="paused"                default="false"/>
  <arg name="verbose"               default="false"/><!-- false -->


  <!-- ************************ -->
  <!-- ****** Simulation ****** -->
  <!-- ************************ -->
  <!-- ***** GAZEBO ***** -->
  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find rotors_gazebo)/models:$(find mav_description)"/>
  <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find rotors_gazebo)/models"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find bachelor_thesis)/worlds/$(arg world_name).world"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="verbose" value="$(arg verbose)"/>
  </include>

</launch>